* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1 {
    padding: 2px 2px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 6px;
    display: flex;
    background-color: #fff; /* Optional: adds contrast to the header */
    border-radius: 10px; /* Optional: adds rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Optional: adds a subtle shadow */
}

body {
    background: crimson;
}

.card {
    width: 700px;
    background: #ccc;
    padding: 20px;
    margin: 20px;
    font-family: sans-serif;
    line-height: 28px;
}
/*scroll bar*/

::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;

}

::-webkit-scrollbar-thumb{
    background: linear-gradient(#21D4FD,#B721FF);
    border-radius: 100px;
}



